body{
  background: #eee !important;
}
button{
  outline: none;
}
th{
  outline: none;
  cursor: pointer;  
}
.none{
  display: none;
}
#form-container{
  display: none;
}
#toast{
  position: fixed;
  z-index: 11;
  top: 6em;
  right: 2em;
  background: #424242;
  color: white;
  padding: .5em 2em;
  border-radius: 3px;
  box-shadow: 0px 1px 1.5px rgba(0,0,0,0.5);
  display: none;
}
#show-form{
  color: white;
}
.center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom{
  margin-bottom: 1em;
}
.space-around{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.panel-capsula, .panel-herramienta{
  position: fixed;
  top: 7em;
  padding: 0;
  display: none;
}
.panel-default{
  border-color: #d9534f;
}
.panel-default .panel-heading{
  text-align: center;
  color: white;
  background: #d9534f;
}
.table thead{
  color: #fff;
  background-color: #f8cb00;
  border-color: #f8cb00;
}

.dataTables_info{
  display: none;
}
.dataTables_length{
  display: none;
}
.dataTables_filter{
  float: right;
}
.imagen__equipo{
  border: 1px solid slategrey;
  border-radius: 3px;
}
.no-padding{
  padding: 0;
}
.btn{
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.15) !important;
}
.no-margin{
  margin: 0 !important;
}
.panelTerminar{
  padding: 0;
  position: fixed;
  top: 6em;
  display: none;
}
.around-flex{
  display: flex;
  justify-content: space-around;
}
.center-flex-boton{
  display: flex;
  justify-content: center;
}
.center-flex-boton button:last-child{
  margin-left: 1em;
}